@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root { height: 100%; }
.leaflet-container { height: 100%; }


/* OpenLayers popup and small helpers */
/* Fix OpenLayers zoom control position */
.ol-zoom {
  top: auto !important;
  left: auto !important;
  right: 1rem !important;
  bottom: 6rem !important; /* above Locate Me button */
}
